.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li:not(:first-child) {
    margin-left: 15px;
}
.pagination a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: var(--gray);
    transition: all 0.3s ease-in-out;
}
.pagination a:hover {
    color: var(--red);
}
.pagination li.active a {
    background-color: var(--red);
    color: #fff;
}
/* @media (max-width: 414px) {
    .pagination li:not(:first-child) {
        margin-left: 5px;
    }
    .pagination a {
        width: 28px;
        height: 28px;
        font-size: 12px;
        line-height: 28px;
    }
} */
