.team {
    flex: 0 1 33.3333%;
    padding: 0 12px;
    margin-bottom: 24px;
}
.team__wrapper {
    text-align: center;
    background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
    border-radius: 4px;
    cursor: pointer;
}
.team__logo {
    padding: 65px 15px;
}
.team__logo img {
    display: inline-block;
    width: 150px;
    height: 150px;
}
.team__info {
    background: #303030;
    border-radius: 0px 0px 4px 4px;
    padding: 24px 15px;
}
.team__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 12px;
}
.team__foundation {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--lightgray);
}
@media (max-width: 768px) {
    .team {
        flex: 0 1 50%;
        padding: 0 6px;
    }
}
@media (max-width: 414px) {
    .team {
        margin-bottom: 12px;
    }
    .team__logo {
        padding: 30px 0 25px 0;
    }
    .team__logo img {
        max-height: 51px;
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .team__info {
        padding: 11px 5px;
    }
    .team__name {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 6px;
    }
    .team__foundation {
        font-size: 13px;
        line-height: 18px;
    }
}
