.selectGroup {
    position: relative;
    padding-bottom: 24px;
    width: 100%;
}
.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray);
    margin-bottom: 8px;
    display: block;
}
.error {
    position: absolute;
    bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: var(--red);
}
