.roster {
    margin-top: 24px;
    color: var(--gray);
}
.empty {
    text-align: center;
}
.wrapper {
    background: #fff;
    border: 1px solid var(--lightgray);
    border-radius: 10px;
}
.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.item {
    padding: 7px 32px;
    display: flex;
    align-items: center;
}
.item:not(:last-child) {
    border-bottom: 1px solid var(--lightgray);
}
.title {
    font-size: 18px;
    line-height: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.legend {
    line-height: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.avatar {
    flex: 0 0 62px;
    padding-right: 10px;
    font-size: 9px;
}
.avatar img {
    border-radius: 50%;
}
.information {
    flex: 1 1 auto;
}
.position {
    font-size: 12px;
}
.number {
    flex: 0 0 53px;
}
.player {
    flex: 1 1 auto;
    display: flex;
}
.height {
    flex: 0 0 130px;
}
.weight {
    flex: 0 0 130px;
}
.age {
    flex: 0 0 30px;
}
@media (max-width: 414px) {
    .roster {
        margin: 16px -12px 0;
    }
    .wrapper {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    .item {
        padding: 6px 16px;
    }
    .title {
        font-size: 15px;
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .legend {
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .number {
        flex: 0 0 36px;
        font-size: 13px;
        line-height: 18px;
    }
    .name {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 2px;
    }
    .position {
        font-size: 12px;
        line-height: 19px;
    }
    .height,
    .weight,
    .age {
        display: none;
    }
}
