.page404 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 45px;
    text-align: center;
}
.image {
    max-width: 100%;
}
.title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: var(--lightestred);
    margin: 48px 0 24px 0;
}
.text {
    margin: 0;
    font-size: 24px;
    line-height: 33px;
    color: var(--gray);
}
@media (max-width: 414px) {
    .title {
        font-size: 17px;
        line-height: 25px;
        margin: 54px 0 16px;
    }
    .text {
        font-size: 15px;
        line-height: 24px;
    }
}
@media (max-width: 320px) {
    .page404 {
        padding: 0 15px;
    }
}
