.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
}
.breadcrumbs li {
    position: relative;
    color: var(--red);
}
.breadcrumbs li:not(:last-child)::after {
    content: "/";
    color: var(--lightgray);
    margin: 0 5px;
}
@media (max-width: 414px) {
    .breadcrumbs {
        font-size: 13px;
        line-height: 1.38;
    }
}
