.buttons button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.buttons button:not(:first-child) {
    margin-left: 15px;
}
.buttons button svg path {
    transition: all 0.3s ease-in-out;
}
.buttons button:hover svg path {
    fill: var(--lightestred);
}
