:root {
  --darkgray: #303030;
  --gray: #707070;
  --lightgray: #9c9c9c;
  --lightestgray: #d1d1d1;
  --lightestgray1: #f6f6f6;
  --darkred: #c60e2e;
  --red: #e4163a;
  --lightred: #ff5761;
  --lightestred: #ff768e;
  --blue: #344472;
  --lightblue: #f5fbff;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--darkgray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
img {
  max-width: 100%;
}
a {
  color: var(--red);
}
button:focus {
  outline: none;
}
