:root {
  --darkgray: #303030;
  --gray: #707070;
  --lightgray: #9c9c9c;
  --lightestgray: #d1d1d1;
  --lightestgray1: #f6f6f6;
  --darkred: #c60e2e;
  --red: #e4163a;
  --lightred: #ff5761;
  --lightestred: #ff768e;
  --blue: #344472;
  --lightblue: #f5fbff;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--darkgray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
img {
  max-width: 100%;
}
a {
  color: var(--red);
}
button:focus {
  outline: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.login__wrapper .container {
  height: 100vh;
}
.login__form {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px 0 30px;
}
@media (max-width: 1024px) {
  .login__form {
    padding: 0 30px;
  }
}
@media (max-width: 736px) {
  .login__form {
    padding: 24px;
  }
}
.login__form form {
  min-width: 366px;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .login__form form {
    margin-right: auto;
  }
}
.login__bg {
  flex: 1 1 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightblue);
  padding: 30px 15px;
}
@media (max-width: 736px) {
  .login__bg {
    display: none;
  }
}
.btn {
  display: inline-flex;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: var(--red);
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: var(--lightred);
}
.btn:focus {
  outline: none;
  background: var(--darkred);
}
.btn:disabled {
  color: var(--lightestgray);
  background: var(--lightestgray1);
}
.btn-text {
  display: inline-flex;
  height: 40px;
  width: 100%;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  background: none;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: var(--lightgray);
  cursor: pointer;
}
.btn-text:hover {
  background: var(--lightestgray);
}
.btn-text:focus {
  outline: none;
  background: var(--lightgray);
  color: var(--gray);
  border-color: var(--gray);
}
.btn-text:disabled {
  color: var(--lightestgray);
}

.page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.page-content {
  flex: 1 1 calc(100% - 140px);
  min-height: calc(100vh - 83px);
  padding: 32px 80px;
  background-color: var(--lightestgray1);
}
@media (max-width: 1024px) {
  .page-content {
    padding: 32px 12px;
  }
}
@media (max-width: 414px) {
  .page-content {
    padding: 16px 12px;
  }
}
.page-content__top {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 32px;
}
@media (max-width: 768px) {
  .page-content__top {
    margin-bottom: 16px;
  }
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 8px -12px;
}
@media (max-width: 768px) {
  .cards-wrapper {
    margin: 0 -6px 8px;
  }
}
.page-content__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-bottom: 32px; */
}

/* select page size */
.select-paze-size__menu {
  bottom: 100% !important;
  top: auto !important;
}
@media (max-width: 414px) {
  .select-paze-size__control {
    min-height: 28px !important;
  }
  .select-paze-size__control .select-paze-size__value-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .select-paze-size__control .select-paze-size__single-value {
    margin: 0;
    font-size: 12px;
  }
  .select-paze-size__control .select-paze-size__indicator {
    padding: 0 2px;
  }
}

/* select teams */
.select-teams__control {
  height: 40px;
}

/* item page */
.item {
  margin-top: 32px;
}
@media (max-width: 768px) {
  .item {
    margin-top: 0px;
  }
}
@media (max-width: 414px) {
  .item {
    margin-left: -12px;
    margin-right: -12px;
  }
}
/* .item__wrapper {
} */
.item__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  padding: 24px 32px;
}
@media (max-width: 768px) {
  .item__top {
    padding: 12px 16px;
  }
}
@media (max-width: 414px) {
  .item__top {
    border-radius: 0;
  }
}
.item__content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  border-radius: 0px 0px 10px 10px;
  background: #fff;
}
@media (max-width: 768px) {
  .item__content {
    padding: 48px 12px 12px;
  }
}
@media (max-width: 414px) {
  .item__content {
    border-radius: 0;
  }
}
.bg .item__content {
  background: linear-gradient(276.45deg, #393939 0%, #707070 100%);
  padding-top: 65px;
}
.bg .item__top {
  border: 1px solid var(--lightgray);
  border-bottom: none;
}

/* form add new player/team */

.form-add {
  display: flex;
  flex: 1 1 100%;
  margin: 0 -12px 48px;
}
.form-col {
  flex: 0 0 50%;
  padding: 0 12px;
}
.form-image {
  padding: 0 12px;
}
.form-info {
  max-width: 396px;
  padding: 0 12px;
}
.form-row {
  display: flex;
  flex: 1 1 100%;
  margin: 0 -12px;
}
@media (max-width: 414px) {
  .form-add {
    flex-wrap: wrap;
  }
  .form-col {
    flex: 0 0 100%;
  }
  .form-row .form-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
