h1.formTitle {
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: var(--blue);
    margin-bottom: 32px;
}
.signUpLnk {
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    color: var(--darkgray);
    text-align: center;
}
